/* SCORE */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.table {
  font-size: 1.8rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.25);
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.table th,
.table td {
  border: 0.1rem solid rgba(128, 128, 128, 0.25);
  padding: 1.2rem 1.6rem;
}

.table th {
  font-weight: 600;
}
