.keys {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.keys button {
  flex: 1;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

.transparent {
  background-color: transparent;
  border-color: var(--main-color);
}

.green {
  background-color: var(--green);
  border-color: var(--green);
}

.red {
  background-color: var(--red);
  border-color: var(--red);
}

.blink {
  animation: blinker 1s linear 10;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
