.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  padding: 3rem;

  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 11rem;
  height: 11rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.5rem;
  flex: 1;
  transition: background-color 0.1s ease;
}

.fill {
  background-color: var(--yellow);
}


