@media only screen and (min-width: 21.25em) {
  .h1-desktop {
    display: block;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
  .h1-mobile {
    display: none;
  }
}

@media only screen and (max-width: 21.25em) {
  .h1-desktop {
    display: none;
  }

  .h1-mobile {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}
